<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWx6FZod_3rvpO228r-6ujI5lanh-atJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>204337705331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.addEventPage</string>
	<key>PROJECT_ID</key>
	<string>flashhchat-fc10a</string>
	<key>STORAGE_BUCKET</key>
	<string>flashhchat-fc10a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204337705331:ios:3ec3c5882f796e7955d506</string>
</dict>
</plist>